@charset 'utf-8';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;

}

body {
  font-family: "Spoqa Han Sans", 'Sans-serif';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: -0.2px;
  color: #666;
  overflow-x: hidden;

}

/* 공통 영역 */

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;

}
/* 상단 배너 */
.popup {
  position: relative;
  display: block;
}

/* 내용 영역 */
.wrap {
  position: relative;
  display: block;
  /* width: 100%; */
  /* background-color: #000; */
}

/* 헤더영역 */
.header {
  position: relative;
  display: block;
  z-index: 9999px;
  
}
.header-fix{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header .inner {
  width: 100%; 
  height: 100px; 
  background-color: #000;
  
}
.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 129px;
  height: 48px;
  background: url('../images/logohead.svg') no-repeat center;
  background-size: cover;
}
.header-left{
  position: relative;
  display: block;
  float: left;
  width: 40%;
  top: 25%;
  margin-left: 34px;
  margin-top: 16px;
  left:10%;
}
.header-left ul{
  position: relative;
  display: block;
  margin: 1px;
  text-align: center;
}
.header-left ul li{
  position: relative;
  display: block;
  float: left;
  margin-right: 14px;
  padding: 0 15px;
  cursor: pointer;
}
.header-left ul li span{
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}
.navigation-right{
  position: relative;
  display: block;
  float: right;
  width: 40%;
  top: 25%;
  margin: 0 auto;
  font-family: 'Spoqa Han Sans',"Sans-serif";
  z-index: 10;
}
.navigation-submenu{
  position: relative;
  display:block;
  float: left;
  margin-top:18px;
  color: #fff;
}
.navigation-submenu li{
  position: relative;
  display: block;
  float: left;
  margin-left: 12px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
.navigation-submenu-split{
  position: relative;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 1px;
  height: 12px;
  margin-top: 22px;
  background-color: #fff;
}
.navigation-submenu{
  display: block;
  float: left;
  margin-left: 0;
}
.navigation-submenu li:first-child{
  margin-left: 0;
}
.navigation-cart {
  position: relative;
  display: block;
}
.navigation-cart i{
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 24px;
  background: url('../images/cartwhite.svg') no-repeat;
  background-size: cover;
  float: left;
}
.navigation-side {
  float: left;
  margin-left: 8px;
  width: 48px;
  height: 48px;
  display: block;
  background: url('../images/whitemenu.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* 비주얼 영역 */
.visual {
  position: relative;
  display: block;
  
}
.visual-main{
  position: relative;
  display: block;
  width: 100%;
  min-width: 1140px;
  height: 560px;
  background: url('../images/background1.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
}

/* 이벤트 안내 */
.event{
  position: relative;
  display: block;
  padding-top: 40px;
  padding-bottom: 67px;
}
.event .inner{}

.event-box{
  position: relative;
  display: block;
  width: 50%;
  height: 207px;
  float: left;
  overflow: hidden;
}

.event-box:nth-child(1) {
  position: relative;
  display: block;
  width: 50%;
  margin-top: 48px;
  margin-left: 38px;
  margin-right: 38px;
}

/* event 슬라이드 넣기 */
.sw-items .swiper-container a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
/* .swiper-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: #000; 
} */
.swiper-slide {
  
}
.items-1 {
  background: url('../images/eventbanner2.png') no-repeat center;
  background-size: cover;
  
}
.items-2 {
  background: url('../images/eventbanner3.png') no-repeat center;
  background-size: cover;
}
.items-3 {
  background: url('../images/eventbanner4.png') no-repeat center;
  background-size: cover;
}
.items-4 {
  background: url('../images/eventbanner5.png') no-repeat center;
  background-size: cover;
}
.items-5 {
  background: url('../images/eventbanner6.png') no-repeat center;
  background-size: cover;
}
.items-6 {
  background: url('../images/eventbanner7.png') no-repeat center;
  background-size: cover;
}
.items-7 {
  background: url('../images/eventbanner1.png') no-repeat center;
  background-size: cover;
}




.event-right{
  position: relative;
  display: block;

}

/* 베스트 상품 목록 */
.bestgoods {
  position: relative;
  display: block;
  width: 1184px;
  height: 1154px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
}
.bestgoods-inner{
  position: relative;
  display: block;
}
.bestgoods-inner h5{
  position: relative;
  display: block;
  line-height: 32px;
  font-family 'Spoqa Han Sans', 'Sans-serif';
  font-size: 32px;
  font-weight: 700
}
.bestgoods-list{
  position: relative;
  display: block;
  margin-top: 32px;
  width: 1270px;
  height: 1090px;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  
}
.goods-data{
  position: relative;
  display: block;
  float: left;
  width: 376px;
  margin-right: 28px;
  margin-bottom: 61px;
  border: 1px solid blue;
}
.goods-data:nth-child(3){
  margin-right: 0px;
}
.goods-data:last-child{
  margin-right: 0px;
  margin-bottom: 0px;
}
.goods-area{
  position: relative;
  display: block;
  width: 100%;
  height: 416px;
  background-color: #f9f7f8;

} 
.goods-area img{
  position: relative;
  display: block;
  margin-left:50px;
  margin-top: 70px;
  cursor: pointer;

}
/* 배너 영역 */
.banner {
  position: relative;
  display: block;
  width: 100%;
  height: 208px;
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 33px;
  /* text-align: center; */
  margin: 0 auto;
  
}
.banner-inner{
  position: relative;
  display: block;
  text-align: center;
  
}
.banner-image{}

/* 푸터 */
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 398px;
  margin-top: 150px;
  border-top: 1px solid #dbdbdb;
  background-color: #fff;
  text-align: center;
}
.footer h2{
  font-size: 100px;
  
}